

.user-detail .invoice-block{
	background-color: #efefef;
}
.authorised-sign{
		text-decoration: underline;
	}
@media print {
	 .no-print,
    .no-print * {
        display: none !important;
    }
	.user-detail h3 {
		color: #4285f4;
	}
	.section.background-color{
		background-color: #fff;
	}
    .col-md-8 {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .mb-print{
    	/* margin-bottom:70%; */
    	/* min-height:1000px; */
    }
    .total-price-row{
    	min-height:1000px;
    }
    .user-detail .invoice-block{
		background-color: #efefef;
	}
	
	.row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px background-color:ccc;
	}
	.mb-1, .my-1 {
    	margin-bottom: .25rem !important;
	}
	.mb-2, .my-2 {
    	margin-bottom: .5rem !important;
	}
	.mb-3, .my-3 {
    	margin-bottom: 1rem !important;
	}
	.mb-4, .my-4 {
    	margin-bottom: 1.5rem !important;
	}
	.mb-5, .my-5 {
    	margin-bottom: 3rem !important;
	}
	.mt-1, .my-1 {
    	margin-top: .25rem !important;
	}
	.mt-2, .my-2 {
    	margin-top: .5rem !important;
	}
	.mt-3, .my-3 {
    	margin-top: 1rem !important;
	}
	.mt-4, .my-4 {
    	margin-top: 1.5rem !important;
	}
	.mt-5, .my-5 {
    	margin-top: 3rem !important;
	}
	.row-bg{
		box-shadow: 0 0 0 rgb(0 0 0 / 8%) !important;
	}
	.shadow-sm {
    	box-shadow: 0 0 0 rgb(0 0 0 / 8%) !important;
	}
	.c_name h3{
		font-size: 3rem;
	}
	.authorised-sign{
		text-decoration: underline;
	}
	.item-list-tbl th{
		color: #495057 !important;
	    background-color: #e9ecef !important;
	    border-color: #dee2e6 !important;
		/* background-color: #1a4567 !important;
   		color: white !important; 
   		border-color:#1a4567 !important; */
	} 
	/* .item-list-tbl td{
		background-color: #b8daff !important;
	    
	}  */ 
	
}
